<%= form_with(url: search_exhibitions_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "展覧会を検索する", class: "search-input" %>
  <%= form.submit "SEARCH", class: "search-btn" %>
<% end %>
<div class="contents row">
  <% @exhibitions.each do |exhibition| %>
        <li class='list'>
          <%= link_to exhibition_path(exhibition.id)  do %> 
              <div class='exhibition-info'>
                <h3 class='exhibition-name'>
                  <%= exhibition.title %>
                </h3>
                <div class='exhibition-place'>
                  <%= exhibition.place %>
                </div>
                <div class='exhibition-date'>
                  <%= exhibition.date %>
                </div>
              </div> 
          <% end %>
        </li>  
  <% end %>
</div>